* {
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    background-color: gray;
    height: 100px;
}
html {
    font-size: 18px;
}
li {
    color: white;
    font-size: 1rem;
}
ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    list-style-type: none;
}