* {
    margin: 5px;
    padding: 0;
}
body {
    background-image: url(http://www.vladtime.ru/uploads/posts/2017-10/1508935001_whdq-513509994.jpg);
}
nav {
    width: 100%;
    background-color: rgb(10, 230, 211);
    height: 75px;
    position: fixed;
}
html {
    font-size: 18px;
}
#BEN {
   color: white;
    padding: 75px 75px;
    font-style: italic;
    text-transform: capitalize;
    line-height: 50px;
}
#AYB {
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    list-style-type: none;
}
img {
    border-radius: 50%;
}
#about {
    display: flex;
    align-items: center;
    font-size: xx-large;
}
#DAY {
    background-image: url(./image/HTML.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1200px;
}
#lav {
    font-size: xx-large;
    max-width: 300px;
    min-width: 150px;
    text-transform: capitalize;
    font-style: italic;
}
#YEJ {
    background-image: url(./image/CSS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1200px;
}
#vat {
    font-size: xx-large;
    max-width: 300px;
    min-width: 150px;
    text-transform: capitalize;
    font-style: italic;
}
#ZET {
    width: 100%;
    min-height: 200px;
    background-color: rgb(0, 171, 184) ;
}
#face {
    padding: -500px;
}
marquee {
    font-size: xx-large;
    background-color: darkblue;
    color: rgb(0, 255, 149);
    font-style: italic;
}
#if {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 400px;
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 2px;
    border-bottom: solid white 2px;
}
footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}
#footer_links {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer_socials {
    font-size: 75px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
}
.fa-facebook-square {
    color: blue;
}
.fa-youtube {
    color: red;
}
.fa-google {
    color: green;
}
#footer_socials div {
    width: 500px;
    display: flex;
    justify-content: space-between;
}
footer p {
    text-align: center;
    font-size: 18px;
    color: white;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: red;
    }
    footer p {
        color: red;
    }
    
}