* {
    margin: 5px;
    padding: 0;
}
body {
    background-image: url(https://pbs.twimg.com/profile_images/1226162239872393217/XOqShqfp_400x400.jpg);
}
nav {
    width: 100%;
    background-color: rgb(0, 230, 161);
    height: 75px;
    position: fixed;
}
html {
    font-size: 18px;
}
#BEN {
   color: white;
    padding: 75px 75px;
    font-style: italic;
    text-transform: capitalize;
    line-height: 50px;
}
#AYB {
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    list-style-type: none;
}
img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
#about {
    display: flex;
    align-items: center;
    font-size: xx-large;
}
#DAY {
    background-image: url(./image/HTML.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 850px;
}
#lav {
    font-size: 20px;
    max-width: 300px;
    min-width: 150px;
}
#YEJ {
    background-image: url(./image/CSS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 850px;
}
#vat {
    font-size: 20px;
    max-width: 300px;
    min-width: 150px;
}
#ZET {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: xx-large;
}
#face {
    padding: -500px;
}